body {
    padding: 50px 100px;
    font-size: 13px;
    font-family: arial, Tahoma, sans-serif;
}

a { color: #D2691E; }
input, textarea {
    padding: 10px;
    border: 1px solid #D2691E;
    width: 200px;
    color: #000000;
    box-shadow: #D2691E(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: #D2691E(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: #D2691E(0, 0, 0, 0.1) 0px 0px 8px;
}
textarea {
    width: 400px;
    height: 150px;
    max-width: 400px;
    line-height: 18px;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: 1px solid #D2691E;
    box-shadow: #D2691E(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: #D2691E(0, 0, 0, 0.2) 0px 0px 8px;
    -webkit-box-shadow: #D2691E(0, 0, 0, 0.2) 0px 0px 8px;     
}
.form label {
    margin-bottom: 10px;
    color: #D2691E;
    display: block;
}
.submit input {
    width:100px;
    height: 40px;
    background-color: #FFFAFA;
    color: #000000;
    border-radius: 3px;
    moz-border-radius: 3px;
    -webkit-border-radius: 3px;                     
}

.container {
    display: flex;
    justify-content: center;
  }