body {
    background-color: rgb(175, 175, 175);
}
    


.loginDiv{
    box-shadow: 0 0 1em rgb(17, 16, 15);
    border-radius: 1px;
    border: 1px solid rgb(250, 250, 239);
    margin: 5% 35%;
    width: 400px;
    height: 405px;
}
.loginForm {
    margin: 5%;

}
h2 {
    text-align: center;
}


/* botão de login "entrar" */

.formButton {
    
    text-align: center;
    
}
.formImg {
   
    text-align: center;
}

@media screen and (max-width: 1200px){
    .loginDiv{
        margin-left:27%;
        clear:left;     
    }
}

@media screen and (max-width: 600px){
    .loginDiv{
        margin-left:15%;
        clear:left;     
    }
}