body {
    background-color: rgba(255, 255, 255, 0.387);
    margin: 0;
    text-align: center;
   
}

.menu{
    display: flex;
    box-shadow: 0 0 1em rgb(7, 7, 6);
    justify-content: space-between;
    background: rgb(250, 197, 6);
    text-align: center;
}

.divImg {
    width: 120px;
    height: 40px;
}



.headerDiv {
    
    margin-left: 5%;
    justify-content: space-between;
    justify-content: center;
    width: 200px;
    
}
svg {
    padding:  0px 5%;
}
a svg:hover {
    background-color:  rgba(9, 110, 205, 0.476);
}


/* ÁREA PESQUISA DE USUÁRIO */

label {
    font-size: 25px;
    font-weight: bold;
}

.search {
    
    margin: 5px 90px;

}
input {
    box-shadow: 0 0 1em rgba(17, 16, 15, 0.233);
}


/*------- página principal da plataforma (href="inicio.php" -------

main = parte principal
mainIcon = foto svg
mainDiv = conteiner ou div

*/
h2 {
    font-size: 50px;
}

main{
    margin-top: 20px;
    justify-content: space-evenly;
    display: flex;
    background-color: rgba(255, 255, 255, 0.874);
}

.mainIcon {
    width: 200px;
  
}
.mainDiv{
    box-shadow: 0 0 1em rgba(17, 16, 15, 0.456);
    width: 30%;
    text-align: center;
}
.mainDiv1 {
    box-shadow: 0 0 1em rgba(17, 16, 15, 0.456);
    width: 30%;
    text-align: center;
}

.mainDiv2 {
    box-shadow: 0 0 1em rgba(17, 16, 15, 0.456);
    width: 30%;
    text-align: center;
}

.mainDiv3 {
    box-shadow: 0 0 1em rgba(17, 16, 15, 0.456);
    width: 30%;
    text-align: center;
}

.mainDiv1:hover {
    background-color: rgba(9, 110, 205, 0.476);
}

.mainDiv2:hover {
    background-color: rgba(9, 110, 205, 0.476);
}

.mainDiv3:hover {
    background-color: rgba(9, 110, 205, 0.476);
}

/*Área responsivo*/

@media screen and (max-width: 1200px){
    h2,
    .subtitle1,
    .subtitle2,
    .subtitle3,
    .mainIcon,
    .mainDiv1,
    .mainDiv2,
    .mainDiv3{
        display:inline-table;
        width:100px;
        margin-right:2%;
        padding-top:0%;
        clear:left;
}
}

@media screen and (max-width: 600px){
    h2,
    .subtitle1,
    .subtitle2,
    .subtitle3,
    .mainIcon,
    .mainDiv1,
    .mainDiv2,
    .mainDiv3{
        display:inline-table;
        width:50px;
        margin-right:2%;
        padding-top:0%;
        clear:left;
}
}



